body {
  background-color: rgb(160, 160, 160);
  box-sizing: border-box;
  margin: 0%;
}
header {
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 100;
}

.navbar {
  height: 90px;
  background-color: blur;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo i {
  color: #0aa5ff;
  font-size: 22px;
}

.navbar .logo a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap: 24px;
  border-right: 1px solid #999999;
  padding-inline: 24px;
  transition: all 1s ease-in-out;
}

.menu-links img {
  width: 35px;
  height: 35px;
  min-height: 20px;
  min-width: 20px;
}
.menu-links a {
  font-weight: 500;
  color: #999999;
  padding: 8px 8px;
}

a {
  text-decoration: none;
}

.logo {
  position: sticky;
  top: 0px;
  width: 80px;
  height: 80px;
  background-image: url("img/diceLogo1.PNG");
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  mix-blend-mode: color-burn;
  border-radius: 7px;
}

.profile {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #f7f7f7;
  text-decoration: none;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
}

.profile:hover {
  transform: scale(1.3);
  transition: all 0.2s ease-in-out;
}

.email {
  margin-top: 8px;
  color: #0aa5ff;
}

.dropdown__wrapper {
  width: 240px;
  --text: #0f192d;
  top: 88px;
  right: 16px;
  position: absolute;
  border-radius: 8px;
  border: 1px solid var(--text-gray);
  display: flex;
  flex-direction: column;
  gap: 4px;
  animation: fadeOutAnimation ease-in-out 0.3s forwards;
}

.dropdown__wrapper--fade-in {
  animation: fadeInAnimation ease-in-out 0.3s forwards;
}

.none {
  display: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
  animation: fadeOutAnimation ease-in-out 0.3s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    width: 160px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    width: 240px;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    width: 240px;
    visibility: visible;
  }
  100% {
    opacity: 0;
    width: 160px;
    visibility: hidden;
  }
}
.dropdown__group {
  padding: 12px;
  color: #f7f8fb;
  background-color: #1b3147e1;
  border-radius: 6px 0 6px 6px;
}
.user-name {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #f7f8fb;
}

.unList {
  padding-left: 0px;
}

/* ............................ */
.main-section {
  position: relative;
  z-index: 1;
  height: 30rem;
  max-width: 60rem;
  margin-top: 22rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(247, 174, 185);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 14px;
  box-shadow: 0px 0px 25px 0px;
  align-self: center;
}

.hashDiv {
  width: 50%;
  height: 100%;
  float: left;
  border-radius: 14px;
}

.hashDiv2 {
  width: 50%;
  height: 100%;
  float: right;
  border-radius: 14px;
}

#rightSide {
  float: right;
  margin: 2rem 2rem 0rem 0rem;
}

#leftSide {
  float: left;
}

.roll {
  display: block;
  font-family: "Times New Roman";
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  height: 2.5rem;
  width: 4rem;
  border-radius: 7px;
  background-color: rgb(0, 117, 160);
  margin: 2rem 1rem 0rem 2rem;
  transition: all 0.5s ease;
}

.roll:hover {
  background-color: #0062cb;
}

.user-solid {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-top: 2rem;
  height: 2.5rem;
  width: 30px;
}

.user-solid1 {
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 2rem;
  margin-right: 1.3rem;
  height: 2.5rem;
  width: 30px;
}

.dice {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 34px;
  background-color: aliceblue;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.common1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 3.5rem;
  font-family: "Times";
  font-weight: bolder;
  font-size: 25px;
  border-radius: 9px;
  background-color: rgba(93, 185, 17, 0.999);
  bottom: 20%;
}

.score1 {
  left: 20%;
}

.score2 {
  right: 20%;
}

.btnn1 {
  position: absolute;
  display: none;
  left: 0px;
  bottom: 0px;
  height: 2.5rem;
  width: 4.4rem;
  background-color: #087dfa;
  color: #fff;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 0px 7px 0px 14px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.btnn1:hover {
  width: 8rem;
  height: 3.3rem;
  color: #ffffff;
  background-color: #0056b3;
  font-size: 19px;
}

footer {
  position: relative;
  z-index: 1;
  background: #333a46;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0px;
}

.footer-top-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  margin: 0 auto;
  min-height: 70px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  gap: 12px;
  height: 50px;
  width: 180px;
}

.social-links img {
  width: 44px;
  height: 44px;
}

.foot_small {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 17px;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
}

/* .................................  */
.modDisplay {
  display: none;
}

.modal {
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 51;
  top: 35%;
  left: 30%;
  width: 40%;
  height: 15rem;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: #1b3147e1;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.766);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal__action {
  border: none;
  background: #0e4f1f;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0 0.5rem 0 0.5rem;
  margin-top: 2px;
}

.modal-btn {
  display: flex;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.high {
  min-height: 4rem;
  min-width: 4rem;
}
.lle {
  margin-right: 1rem;
}
/* ........................... */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.overlay22 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 13rem;
  border-radius: 3px;
  background-color: #1b3147e1;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.766);
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  z-index: 52;
}

.popup-content {
  text-align: center;
}
.winner {
  display: flex;
  justify-content: center;
}
.win-message {
  color: #24ff18;
  font-weight: 700;
}
#closeBtn {
  height: 2rem;
  width: 4.4rem;
  background-color: #4d8fd58a;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.6s ease;
}
